body {
    background-image: url("../images/background-clouds.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.center-column {
    text-align: center;
    float: left;
    width: 40%;
}

.left-column {
    text-align: left;
    float: left;
    width: 30%;
}

.right-column {
    text-align: right;
    float: left;
    width: 30%;
}

.shoe-image {
    width: 260px;
}

#privacy-policy {
    /* color: rgb(179, 255, 0); */
    text-align: left;
    font-size: 9px;
    height: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}

.small-input {
    height: 7px;
    font-size: 9px;
}