li {
    font-size: 30px;
}

span {
    color: rgb(77, 77, 77);
}

.cart-p {
    font-size: 22px;
    font-weight: normal;
    padding: 0px 0px 0px 50px;
    font-style: italic;
}

#price-list {
    color: yellow;
    font-style: normal;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}