.Nav-bar {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: calc(20px);
  color: #61dafb;
}

.Nav-element {
  padding: 3px 20px 7px 20px;
  color: #61dafb;
}

.centered {
  text-align: center;
}