.Nav-bar {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: calc(20px);
  color: #61dafb;
}

.Nav-element {
  padding: 3px 20px 7px 20px;
  color: #61dafb;
}

.dark-login {
  background-image: url("./images/Super-Star.png");
  width: 880px;
  height: 880px;
  margin: auto;
  text-align: center;
}

.dark-game-header {
  text-align: center;
}

.dark-game-header button {
  margin: 0px 20px;
}

.dark-game {
  border: 3px solid black;
  text-align: center;
  margin: auto;
  width: 25%;
  height: 25%;
  margin-top: 15px;
  display: inline-block;
}

.dark-footer {
  font-size: 8px;
  position: absolute;
  bottom: 5px;
}

.centered {
  text-align: center;
}

.dark-game button {
  padding: 15px;
  background-color: green;
  font-size: 28px;
  margin: 50px 0px;
}

.dark-cob-bucks {
  display: inline-block;
}

#gold {
  font-size: 18px;
  background-color: gold;
  text-align: center;
  width: 12px;
  height: 25px;
  margin: auto;
}

#silver {
  font-size: 18px;
  background-color: silver;
  text-align: center;
  width: 12px;
  height: 25px;
  margin: auto;
}

#bronze {
  font-size: 18px;
  background-color: #cd7f32;
  text-align: center;
  width: 12px;
  height: 25px;
  margin: auto;
}

.dark-login-bonus {
  
}

.dark-login-incantation {
  width: 25%;
  margin: auto;
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  border: 3px solid black;
  background-color: red;
}

.dark-checkbox {

}

.submit-button {
  background-color: green;
  font-size: 24px;
}