.Nav-bar {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: calc(20px);
  color: #61dafb;
}

.Nav-element {
  padding: 3px 20px 7px 20px;
  color: #61dafb;
}

.dark-login {
  background-image: url("./images/Super-Star.png");
  width: 880px;
  height: 880px;
  border: 3px solid green;
  margin: auto;
  text-align: center;
}

.dark-game {

}